.home {
  align-self: flex-start;

  img {
    filter: invert(85%);
    position: fixed;
    z-index: 1000;
    top: 1rem;
    left: 1rem;
    padding: 5px;
    border-radius: 20%;
    border: 1px solid greenyellow;
    max-width: 40px;
    max-height: 40px;
    transition: box-shadow 0.3s ease;
  }

  img:hover {
    border-color: rgb(7, 4, 173);
    box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
  }
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
      color: #fefe5b;
      width: 300px;
    }
  }

  h1,
  h2,
  p {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid rgb(7, 4, 173);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s ease;
    padding: 10px;
  }

  h1:hover,
  h2:hover,
  p:hover {
    border-color: rgb(7, 4, 173);
    box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
  }
  .about__container {
    width: 80%;
    margin: 0 2rem;
  }
  .name,
  .history,
  .clients,
  .experience {
    color: whitesmoke;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  .clients,
  .experience {
    color: #fefe5b;
    font-size: 1.5rem;
  }

  .name{
    margin-top: 3rem;
  }
}
