.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container {
  width: 80%;
  margin: 0 2rem;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;

    h2,
    p {
      display: inline-block;
      border-radius: 15px;
      border: 1px solid rgb(7, 4, 173);
      backdrop-filter: blur(10px);
      transition: box-shadow 0.3s ease;
      padding: 10px;
    }

    h2:hover,
    p:hover {
      border-color: rgb(7, 4, 173);
      box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
    }

    h2 {
      color: #fefe5b;
    }
    p {
      color: whitesmoke;
    }
  }

  .form__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      width: 100%;
      color: whitesmoke;
      background-color: transparent;
      border-radius: 15px;
      border: 1px solid rgb(7, 4, 173);
      backdrop-filter: blur(10px);
      transition: box-shadow 0.3s ease;
    }
    input::placeholder {
      color: whitesmoke;
    }
    input:hover {
      border-color: rgb(7, 4, 173);
      box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
    }
    textarea {
      width: 100%;
      color: whitesmoke;
      background-color: transparent;
      border-radius: 15px;
      border: 1px solid rgb(7, 4, 173);
      backdrop-filter: blur(10px);
      transition: box-shadow 0.3s ease;
    }
    textarea::placeholder {
      color: whitesmoke;
    }
    textarea:hover {
      border-color: rgb(7, 4, 173);
      box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
    }

    button {
      background-color: transparent;
      border-radius: 15px;
      border: 1px solid rgb(7, 4, 173);
      backdrop-filter: blur(40px);
      transition: box-shadow 0.3s ease;
    }

    button:hover {
      border-color: rgb(7, 4, 173);
      box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
    }
  }
}
