.home__container {
  display: grid;
  padding: 10px;
  padding-top: 1.5rem;

  .container-items1 {
    grid-column: 1/2;
    justify-self: flex-start;
  }

  .container-items2 {
    grid-column: 2/2;
    justify-self: flex-end;
  }

  &__items {
    img {
      filter: invert(85%);
      padding: 5px;
      border-radius: 20%;
      border: 1px solid greenyellow;
      max-width: 40px;
      max-height: 40px;
      transition: box-shadow 0.3s ease;
    }

    img:hover {
      border-color: rgb(7, 4, 173);
      box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
    }
  }
}

.item {
  display: grid;
  text-align: center;
}

.item a {
  text-decoration: none;
}

.item label {
  display: block;
  color: rgba(245, 245, 245, 0.6);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

// ! BREAKPOINT

@media (min-width: 576px) {
  .item label {
    visibility: hidden;
    opacity: 0;
  }

  .item:hover label {
    visibility: visible;
    opacity: 1;
  }
}
