.parallax {
  background-image: url('/tophat.png');
  height: 75vh;
  width: 80%;
  margin: auto;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;

  .texto {
    color: whitesmoke;
    text-align: center;
    padding-top: 1.5rem;
  }
}
.parallax2 {
  background-image: url('/lightBulb.webp');
  height: 75vh;
  margin: auto;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
}

.home__container {
  margin-inline: 1rem;
  display: grid;
  padding: 10px;
  padding-block: 2rem;

  .container-items1 {
    grid-column: 1/2;
    justify-self: flex-start;
  }

  .container-items2 {
    grid-column: 2/2;
    justify-self: flex-end;
  }

  &__items {
    img {
      padding: 5px;
      border-radius: 20%;
      max-width: 40px;
      max-height: 40px;
      transition: box-shadow 0.3s ease;
      border: 1px solid #006090;
      box-shadow: 0 0 3px #006090, 0 0 8px #006090;
      background-color: rgba(255, 255, 255, 0.3);

      &:hover {
        border-color: rgb(7, 4, 173);
        box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
      }
    }
  }
}

.item {
  display: grid;
  text-align: center;
}

.item a {
  text-decoration: none;
}

.item label {
  display: block;
  margin-block: 5px;
  color: rgb(7, 4, 173);
  border: 1px solid transparent;
  border-radius: 20px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

// ! BREAKPOINT

@media (min-width: 576px) {
  .parallax,
  .parallax2 {
    background-attachment: fixed;

    .texto {
      padding-top: 4rem;
    }
  }

  .home__container {
    max-width: 70%;
    margin: auto;
  }

  .container-items1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    #home {
      grid-column: 3/5;
    }
    #about {
      grid-column: 2/4;
    }
    #projects {
      grid-column: 3/3;
    }
    #contact {
      grid-column: 4/4;
      grid-row: 4;
    }
  }
  .container-items2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    #github {
      grid-column: 1/2;
    }
    #linkedin {
      grid-column: 1/4;
    }
    #x {
      grid-column: 3/4;
      grid-row: 3;
    }
    #cv {
      grid-column: 2/3;
      grid-row: 4;
    }
  }

  .item label {
    color: rgb(7, 4, 173);
    visibility: hidden;
    opacity: 0;
  }

  .item:hover label {
    visibility: visible;
    opacity: 1;
  }
}
