.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.projects__container__items {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px;
  }

  .text-center {
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-bottom: 2rem;
  }

  .text-center {
    max-width: 90%;
    color: rgb(7, 4, 173);
    border-radius: 10px;
    border: 1px solid rgb(7, 4, 173);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s ease;;

    .card-title {
      color: #fefe5b;
      font-size: 1.5rem;
    }

    .card-footer,
    .card-text {
      color: rgb(7, 4, 173);
    }
    .card-footer,
    .card-header {
font-variant: small-caps;    }
  }

  .text-center:hover {
    border-color: rgb(7, 4, 173);
    box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
  }
}
