.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.projects__container__items {
  z-index: 1;
  padding-block: 3rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  a {
    margin: 10px;
  }

  .text-center {
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-bottom: 2rem;
  }

  .text-center {
    max-width: 90%;
    color: rgb(7, 4, 173);
    border-radius: 10px;
    border: 1px solid rgb(7, 4, 173);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s ease;;

    .card-title {
      color: #fefe5b;
      font-size: 1.5rem;
    }

    .card-footer,
    .card-text {
      font-size: 1.2rem;
      color: rgb(7, 4, 173);
    }
    .card-footer,
    .card-header {
font-variant: small-caps;    }
  }

  .text-center:hover {
    border-color: rgb(7, 4, 173);
    box-shadow: 0 0 10px rgb(7, 4, 173), 0 0 20px rgb(7, 4, 173);
  }
}

// ! -------------------------------------------------------------

// BREAKPOINTS

// ! -------------------------------------------------------------

@media (min-width: 576px) {
  .projects__container__items {
    width: 80%;
  }
}


@media (min-width: 768px) {
  .projects__container__items {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .projects__container__items {
    width: 60%;
  }
}